<!-- Lista os valores a receber -->

{% extends "cadestagiarios/base.html" %} 
{% block title %}Estagiários com Falta de Pagamento{% endblock %}

{% block content %}
<h3>Lista dos Estagiários com Falta de Pagamento</h3>

{% if estagiarios %}
        ======================================================================================<br>
        {% for e in estagiarios %}
            <br>
            Nome: {{ e.nome_do_estagiario }}   (
                {% if e.pagamento_pendente %}
                    R$ {{ e.pagamento_pendente|floatformat:2 }}
                {% else %}
                    A conferir
                {% endif %}
                )
                <br>
        ====================================================================================<br>
        {% endfor %}
    </table>
{% else %}
    <p>Nao há estagiários cadastrados.</p>
{% endif %}
{% endblock %}
